In [8]:
df=pd.read_csv('VolvoCarUSA.csv')

In [90]:
ori_tweet = pd.read_csv("volvo0701-1101.csv")

In [93]:
ori_tweet["Tweet_time"] = pd.to_datetime(ori_tweet["Tweet_time"])

In [95]:
ori_tweet

,Unnamed: 0,Unnamed: 0.1,Tweet_url,Tweet_id,Tweet_user_id,Tweet_username,Tweet_account,Tweet_user_location,Tweet_user_followers,Tweet_user_following,...,Retweet_url,Retweet_id,Retweet_username,Retweet_account,Retweet_time,Retweet_location,Retweet_content,Retweet_contain_links,Retweet_image_urls,sentiment_score
0,0,2,https://twitter.com/brittneyinpink/status/1311...,1311410199685668864,1120728898042572802,BrittneyInPink,brittneyinpink,"Kansas City, MO",79,6,...,NaN,\t,NaN,NaN,NaN,NaN,NaN,NaN,NaN,69.261364
1,1,3,https://twitter.com/volvodundee/status/1311399...,1311399214941908993,1022453301852467200,Volvo Dundee and Edinburgh,volvodundee,NaN,2,0,...,NaN,\t,NaN,NaN,NaN,NaN,NaN,NaN,NaN,81.666667
2,2,4,https://twitter.com/denttechae/status/13114484...,1311448413402271744,1200875744894898176,Dent Tech UAE,denttechae,"Dubai, United Arab Emirates",2,0,...,NaN,\t,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60.606061
3,3,5,https://twitter.com/BradPorcellato/status/1311...,1311429413226139648,25230082,Porcellato Engineering,BradPorcellato,"New Westminster, BC.",26267,19837,...,NaN,\t,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37.500000
4,4,6,https://twitter.com/volksnation/status/1311431...,1311431690561167365,3034437273,Volksnation,volksnation,NY & CANADA & LA..SO MUCH MORE,365,2913,...,NaN,\t,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10760,10760,14480,https://twitter.com/StyleHerLovely1/status/127...,1278181567635095558,813665478199517185,Style Her Lovely,StyleHerLovely1,"Seattle, WA",90,444,...,NaN,\t,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52.984848
10761,10761,14482,https://twitter.com/marywillhite16/status/1278...,1278154801591676933,1244951307212840960,Mary Willhite,marywillhite16,NaN,49,0,...,NaN,\t,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50.000000
10762,10762,14483,https://twitter.com/AjeshShankar/status/127816...,1278165423423275008,1131516092264865792,"Ajesh Kumar Shankar, Advocate",AjeshShankar,"Bengaluru South, India",50,466,...,NaN,\t,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50.000000
10763,10763,14484,https://twitter.com/evelynbrinnon74/status/127...,1278157263820079105,1264262452465635329,Evelyn Brinnon,evelynbrinnon74,NaN,46,0,...,NaN,\t,NaN,NaN,NaN,NaN,NaN,NaN,NaN,62.333333
10764,10764,14485,https://twitter.com/MING_YAO_MYS/status/127817...,1278179781188583424,953151779155337216,mingyao0728,MING_YAO_MYS,"台南市, 台灣",12,4,...,NaN,\t,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50.000000

In [104]:
raise AssertionError("This is an abstract class")

AssertionError: This is an abstract class

In [101]:
ori_tweet[["Tweet_time", "Tweet_id"]].groupby(
            pd.Grouper(key='Tweet_time', freq='1D', convention='start')).count()["Tweet_id"].sort_index(ascending=False)

Tweet_time
2020-09-30    129
2020-09-29    131
2020-09-28    136
2020-09-27    113
2020-09-26    119
             ...
2020-07-05     71
2020-07-04     70
2020-07-03    110
2020-07-02    121
2020-07-01    136
Freq: -1D, Name: Tweet_id, Length: 92, dtype: int64

In [44]:
df.sort_values("Tweet_time", ascending=False)

,Tweet_id,Tweet_user_followers,Tweet_user_following,Tweet_time,Tweet_content,Tweet_like_count,Tweet_retweet_count,Tweet_reply_count
16,1333075898287927296,238785,490,2020-11-29 15:50:36,@CNYer1985 We are so thankful to hear you are ok!,2,1,0
10,1331007768375996417,238785,490,2020-11-23 22:52:35,@my_wicked_mouth We are sorry to hear about th...,1,1,0
14,1331007535239876608,238785,490,2020-11-23 22:51:39,@Jedan14 We are sorry to hear about this exper...,1,0,1
6,1328681542336602112,238785,490,2020-11-17 12:49:00,@megshibs We are sorry to hear about this Mega...,2,0,1
18,1328681114693754880,238785,490,2020-11-17 12:47:18,@shubydoo The XC90 is produced in Sweden. Part...,1,0,0
...,...,...,...,...,...,...,...,...
3991,739828372730175488,238785,490,2016-06-06 14:36:44,.@slashgear reviews the #Allnewxc90 t8 twin en...,27,8,1
3996,739411558212591616,238785,490,2016-06-05 11:00:27,Get lost in the summer without getting lost. C...,58,10,0
3994,739212364478709760,238785,490,2016-06-04 21:48:56,#VolvoS90 first drive review via @MotorTrend,53,15,1
3999,738709041736605696,238785,490,2016-06-03 12:28:54,It's called a moonroof but you can use it for ...,63,19,0
4000,737836602635001856,238785,490,2016-06-01 02:42:09,@gobuxgal hi Sandy please reach out to us at V...,5,1,1

In [28]:
df["Tweet_time"] = pd.to_datetime(df["Tweet_time"])

In [63]:
def get_action_count(action_type, duration_mode):
    if duration_mode == 0:
        freq = "1Y"
    elif duration_mode == 1:
        freq = "1M"
    elif duration_mode == 2:
        freq = "1W"
    else:
        freq = "1D"

    if action_type == 0:
        action = "Tweet_reply_count"
    elif action_type == 1:
        action = "Tweet_like_count"
    elif action_type == 2:
        action = "Tweet_retweet_count"
    else:
        return {"M": 1, "T": 12, "W": 123, "Th": 1234, "F": 15}

    grouped = df[["Tweet_time", action]].groupby(
        pd.Grouper(key='Tweet_time', freq=freq, convention='start')).sum()[action].sort_index(ascending=False)
    grouped = grouped[grouped != 0][:(5 + 2 * (duration_mode == 3))]
    return grouped

In [77]:
g = get_action_count(1, 1)

In [89]:
g.to_dict()

{'2020-11-30': 13,
 '2020-10-31': 275,
 '2020-09-30': 340,
 '2020-08-31': 355,
 '2020-07-31': 11}

In [88]:
g.index = g.index.strftime("%Y-%m-%d")

In [47]:
g

Tweet_time
2020-11-29     2
2020-11-28     0
2020-11-27     0
2020-11-26     0
2020-11-25     0
              ..
2016-06-05    58
2016-06-04    53
2016-06-03    63
2016-06-02     0
2016-06-01     5
Freq: -1D, Name: Tweet_like_count, Length: 1643, dtype: int64

In [36]:
g = df[["Tweet_time", "Tweet_like_count"]].groupby(pd.Grouper(key='Tweet_time', freq='1D', convention='start')).sum()

In [43]:
g["Tweet_like_count"].sort_index(ascending=False)

Tweet_time
2020-11-29    2
2020-11-28    0
2020-11-27    0
2020-11-26    0
2020-11-25    0
2020-11-24    0
2020-11-23    2
Freq: -1D, Name: Tweet_like_count, dtype: int64

In [29]:
df[["Tweet_time", "Tweet_like_count"]].groupby(pd.Grouper(key='Tweet_time', freq='1D', convention='start')).sum()

            Tweet_like_count
Tweet_time
2016-06-01                 5
2016-06-02                 0
2016-06-03                63
2016-06-04                53
2016-06-05                58
...                      ...
2020-11-25                 0
2020-11-26                 0
2020-11-27                 0
2020-11-28                 0
2020-11-29                 2

[1643 rows x 1 columns]

In [10]:
import pandas as pd
import numpy as np

df=pd.read_csv('VolvoCarUSA.csv')
df=df[['Tweet_id','Tweet_user_followers','Tweet_user_following','Tweet_time','Tweet_content','Tweet_like_count','Tweet_retweet_count','Tweet_reply_count']]

In [11]:
df.to_csv("VolvoCarUSA_account.csv")

In [3]:
from nltk.tokenize import TweetTokenizer
tknzr = TweetTokenizer()

def tokenizer_tweets(df):
    
    text = ''
    for t in df['Tweet_content']:
        text += t
    tokens = [i.lower() for i in tknzr.tokenize(text)]
    
    return tokens

tokens = tokenizer_tweets(df)
print(len(tokens))
print(tokens[:20])

86868
['@rick_schmitz', 'hi', 'rick', ',', 'we', 'are', 'concerned', 'to', 'learn', 'about', 'this', 'experience', '.', 'we', 'would', 'recommend', 'contacting', 'our', 'team', 'to']

In [4]:
from nltk import FreqDist

# top 5 mentions
mentions = [t for t in tokens if t.startswith('@')]
mentions_fd = FreqDist(mentions).most_common(5)

# top 5 hashtags
hashtags = [t for t in tokens if (t.startswith('#') and len(t) != 1)]
hashtags_fd = FreqDist(hashtags).most_common(5)

display(mentions_fd,hashtags_fd)

[('@volvocars', 37),
 ('@volvocarsglobal', 19),
 ('@wishful_wink', 17),
 ('@petfinder_fnd', 13),
 ('@chrischiera', 13)]

[('#volvoxc60', 74),
 ('#volvoxc90', 64),
 ('#xc40', 52),
 ('#news60', 46),
 ('#futurevolvocontest', 44)]

In [5]:
plain_text=df[~df['Tweet_content'].str.contains('#')&df['Tweet_content'].str.contains('@')]

print(f"The percentage of plain text tweet is {round(len(plain_text)/len(df)*100)}% of all the tweets")

The percentage of plain text tweet is 79% of all the tweets

In [6]:
fav_max = np.max(df['Tweet_like_count'])
rt_max  = np.max(df['Tweet_retweet_count'])
rep_max = np.max(df['Tweet_reply_count'])

fav = df[df.Tweet_like_count == fav_max].index[0]
rt  = df[df.Tweet_retweet_count == rt_max].index[0]
rep = df[df.Tweet_reply_count == rep_max].index[0]

# Max FAVs:
print("The tweet with most likes is: \n{}".format(df['Tweet_content'][fav]))
print("Number of likes: {}".format(fav_max))
print()
# Max RTs:
print("The tweet with most retweets is: \n{}".format(df['Tweet_content'][rt]))
print("Number of retweets: {}".format(rt_max))
print()
# Max REPs:
print("The tweet with more replies is: \n{}".format(df['Tweet_content'][rep]))
print("Number of reply: {}".format(rep_max))

The tweet with most likes is:
A car so different, we had to make it available in a different way. This is the new #XC40 with Care by Volvo.	Learn more at
Number of likes: 1544

The tweet with most retweets is:
A car so different, we had to make it available in a different way. This is the new #XC40 with Care by Volvo.	Learn more at
Number of retweets: 196

The tweet with more replies is:
Where innovative safety comes standard. Designed with you in mind. The All-New #VolvoXC60		Learn more at
Number of reply: 107

In [7]:
df['Tweet_user_followers']

0       238785
1       238785
2       238785
3       238785
4       238785
         ...
3996    238785
3997    238785
3998    238785
3999    238785
4000    238785
Name: Tweet_user_followers, Length: 4001, dtype: int64